{
  "host": "127.0.0.1",
  "port": 13306,
  "user": "root",
  "password": "2020@Wkrj+-",
  "database": "aisound",
  "charset": "utf8mb4",
  "pool_size": 5,
  "max_overflow": 10,
  "pool_recycle": 3600
}
