#include "resource.h"
#include "../config.h"
#include <winres.h>

ROBOTO_FN TTF "fonts/Roboto-Regular.ttf"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "FileVersion", PLUG_VERSION_STR
            VALUE "ProductVersion", PLUG_VERSION_STR
            VALUE "FileDescription", PLUG_NAME
            VALUE "InternalName", BUNDLE_NAME
            VALUE "ProductName", PLUG_NAME
            VALUE "CompanyName", PLUG_MFR
            VALUE "LegalCopyright", PLUG_COPYRIGHT_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
